.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: var(--textColor);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid var(--textColor);
  margin: 0 4px;
}

.pagination a.active {
  background-color: var(--header);
  color: white;
  border: 1px solid var(--textColor);
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
