/* From Uiverse.io by Cevorob */
.burger {
    position: relative;
    width: 40px;
    height: 28px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--textColor);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

/* //////// */
.sidenav {
    height: 100%;
    width: 0;
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav[dir=rtl] {
    right: 0;
}

.sidenav[dir=ltr] {
    left: 0;
}

.sidenav div:nth-child(1) {
    background-color: black;
}

.sidenav div {
    padding: 20px;
}

.sidenav div a {
    width: 250px;
    padding: 20px 0 0 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #fff200;
}



#main {
    transition: margin-left .5s;
    padding: 16px;
}

#mySidenav {
    width: 0px;
}

#xx {
    opacity: 10%;
    background-color: #0e0e0e;
}

#xx:hover {
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}