/* Dropup Button */
.dropbtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--textHeader);
    border: none;
}


/* The container <div> - needed to position the dropup content */
.dropup {
    position: relative;
    display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup_content {
    display: none;
    position: absolute;
    top: 60px;
    right: -50px;
    background-color: var(--bg);
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropup */
.dropup_content button {
    border-bottom: 1px solid var(--textColor);
    width: 100%;
    padding: 5px 15px;
}

.dropup_content button:hover {
    background-color: rgba(103, 103, 103, 0.8);
}

.dropup_content button:disabled {
    background-color: rgba(155, 136, 136, 0.8);
    opacity: 50%;
}

.dropup:hover .dropup_content {
    display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */