@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Readex+Pro:wght,HEXP@160..700,0..100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Marhey:wght@300..700&family=Readex+Pro:wght,HEXP@160..700,0..100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Lalezar&family=Marhey:wght@300..700&family=Readex+Pro:wght,HEXP@160..700,0..100&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

[Data-theme="light"],
:root {
  --header: rgb(3, 162, 255) !important;
  --textHeader: #ffffff !important;
  --textColor: #000000 !important;
  --bg: #e8f0f1 !important;
  --bgCart: white !important;
  --input: white !important;
  --primary: #e8f0f1 !important;
  --hoverA: rgb(0, 145, 255) !important;
}

[Data-theme="dark"] {
  --header: #000000 !important;
  --textHeader: #ffffff !important;
  --textColor: #000000 !important;
  --bg: #3a3b32 !important;
  --bgCart: white !important;
  --input: white !important;
  --primary: #e8f0f1 !important;
  --hoverA: rgb(0, 145, 255) !important;
}

[Data-theme="custom"] {
  --header: rgb(121, 206, 255);
  --textHeader: #ffffff;
  --textColor: #000000;
  --bg: #e8f0f1;
  --input: white;
  --primary: #e8f0f1 !important;
  --hoverA: var(--textColor);
  --FontFamile: "Marhey", "Lalezar", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

:root {
  font-family: "Marhey", "Lalezar", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--textColor);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .textCenterLine {
  overflow: hidden;
  text-align: center;
}

.textCenterLine::before,
.textCenterLine::after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.textCenterLine::before {
  right: 0.5em;
  margin-left: -50%;
}

.textCenterLine::after {
  left: 0.5em;
  margin-right: -50%;
} */
.textCenterLine {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.textCenterLine span {
  background: var(--primary);
  padding: 0 10px;
}
