@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Readex+Pro:wght,HEXP@160..700,0..100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Marhey:wght@300..700&family=Readex+Pro:wght,HEXP@160..700,0..100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Lalezar&family=Marhey:wght@300..700&family=Readex+Pro:wght,HEXP@160..700,0..100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

[Data-theme="light"],
:root {
  --header: rgb(3, 162, 255) !important;
  --textHeader: #ffffff !important;
  --textColor: #000000 !important;
  --bg: #e8f0f1 !important;
  --bgCart: white !important;
  --input: #dadada !important;
  --primary: rgba(255, 255, 255, 0.821) !important;
  --hoverA: rgb(0, 145, 255) !important;
}

[Data-theme="dark"] {
  --header: #000000 !important;
  --textHeader: #ffffff !important;
  --textColor: #000000 !important;
  --bg: #3a3b32 !important;
  --bgCart: white !important;
  --input: #554545 !important;
  --primary: rgba(242, 242, 242, 0.684) !important;
  --hoverA: rgb(0, 145, 255) !important;
}

[Data-theme="custom"] {
  --header: rgb(121, 206, 255);
  --textHeader: #ffffff;
  --textColor: #000000;
  --bg: #e8f0f1;
  --input: white;
  --primary: #dadada;
  --hoverA: var(--textColor);
  --FontFamile: "Marhey", "Lalezar", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {

  font-family: "Marhey", "Lalezar", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--textColor);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}