.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
}

.ul li {
  display: flex;

}

:root {
  --headerClone: #74d255;
  --textHeaderClone: #ffffff;
  --textColorClone: #2424c8;
  --bgClone: #898356;
  --fontClone: "Marhey", "Lalezar", serif, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

/* --inputClone: #b56868;
    --primaryClone: rgba(242, 242, 242, 0.684);
    --hoverAClone: rgb(35, 139, 199); */