:root {
    --searchColor: rgb(227, 227, 227);
    --searchIconColor: rgb(0, 0, 0);
    --searchTextColor: rgb(0, 0, 0);
}

.SearchGlobal {
    height: 80px;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--searchColor);

}

.successSearch {
    height: 50px;
    margin: 0 10px;
    display: flex;
}



.search1 {
    padding: 0 42px 0 42px;
    color: var(--searchTextColor);
    background-color: var(--searchColor);
    font-weight: 500;
    font-size: 24px;
    border: 2px solid var(--searchColor);
    border-radius: 100px;
}



.input {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.input::after {
    font-family: 'Material Icons';
    content: '\e8b6';
    visibility: visible;
    height: 40px;
    weight: 40px;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 32px;
    color: rgb(0, 0, 0);
    position: absolute;
    z-index: 100;
    top: 5px;
    bottom: 5px;
    right: 10px;
    left: 10px;
    cursor: pointer;
}


/* .successSearch[dir="rtl"] {
    right: 10px;
} */